.container-alta {
    width: 1200px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-around;
    color: #7f3063;
    /* align-items: center; */
    background-image: url(https://i.ibb.co/3sgPmvg/Sin-ti-tulo-2-fondo.png);
}


.alta-left-side{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-alta-logo {
    width: 80px;
}

.alta-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    background-color: #e1f4f3;
    margin-bottom: 100px;
    box-shadow: 0px 10px 20px #75c6b8;
   
}
 .alta-header h1{ 
    font-size: 80px;
    margin: 0;
}

@media only screen and (max-width:560px){
    .container-alta {
        width: unset;
        flex-direction: column;
    }

    .alta-header{
        width: 100%;
    }
}