.login-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1f4f3;
    color: #7f3063;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 10px solid #75c6d8;
    border-radius: 10px;
}

.login-Form:hover {
    box-shadow: 0 0 20px #7f3063;
}

.login-Form input{
    margin: 10px 0 30px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 6px;
}

.login-Form input:focus {
    background-color: #75c6b8;
    color: white;
}

.login-form-button {
    background-color: #7f3063;
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
}

.login-form-button:hover{
    box-shadow: 0 0 20px #75c6b8;
}