.Inicio_logo {
    width: 21%;
    position: relative;
    top: 9%;
    left: 16%;
}


@media only screen and (max-width:560px){
    .Inicio_logo{
        width: 30%;
        position: static;
        display: block;
        margin: auto;
        /* margin-top: 50px;  */
    }
}
